.App {
  text-align: center;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 15vmin;
  position: absolute;
  top: 0;
  left: 0;
}

.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    color: white;
    
    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../img/people.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero h1 {
    /* Text styles */
    font-size: 5em;
    
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}

.profile padding{
  size: 100px
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ProfilePic{
  position: absolute;
  top: 40px;
  right: 0;
  width: 50px;
  height: 50px;
}
.SignOutBtn{
  position: absolute;
  top: 0;
  right: 0;
}

.WelcomeSignIn {
  margin: auto;
  display: flex;
  width: 100px;
  align-items: center;
  outline: dashed;
}

.boxAuth{
 position: absolute;
  outline: dashed;
  top: 80px;
  right: 0;


}
.App-link {
  color: #61dafb;
}

authenticate{
  outline: dashed;
}