.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 15vmin;
  position: absolute;
  top: 0;
  left: 0;
}
.SignOutBtn{
  position: absolute;
  top: 0;
  right: 0;
}
.ProfilePic{
  position: absolute;
  top: 40px;
  right: 0;
  width: 50px;
  height: 50px;
}
.WelcomeSignIn{
  z-index: 1; 
  position: absolute; 
  top: 0px;
  bottom: 0px;
  padding: 10%
}
.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.profile padding{
  size: 100px
}
.myRow{
  width: 100%;
  height: 100px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
